html{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.loading *{
  margin: 0px;
  padding: 0px;
}

.loading{
  display: flex;
  overflow: hidden !important;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

@keyframes wiggle {
  0% {transform: translateX(0%);}
  50% {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}

.dot{
  width: 200px;
  font-weight: 900;
  animation: wiggle 1.5s infinite;
}