.anime-container{
  height: 100vh;
  width: 100vw;
  box-shadow: inset 50vw -60vh 1000px -50px black;
}

.banner-container{
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.bg-banner{
  height: 90vh;
  width: 80vw;
  position: absolute;
  z-index: -1;
  margin-left: auto;
}

.anime-data{
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 7% 0px 0px 20px ;
  max-width: 40vw;
}

.caret{
  color: rgba(255, 255, 255, 0.685);
  font-size: 25px;
  padding-right: 5px;
}

.desc-icon{
  font-size: 20px;
  color: rgba(255, 255, 255, 0.685) ;
  padding-right: 10px;
}

.title{
  font-size: 3rem;
  font-weight: bolder;
}

.sub-title{
  font-size: 1.3rem;
  color: grey;
}

.desc{
  max-height: 130px;
  word-wrap: normal;
  overflow: hidden;
}

.desc-cont{
  display: inline-flex;
  align-items: baseline;
}